.header {
  margin-bottom: 50px;
}
.tableContainer {
  margin: auto;
  width: 80%;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 15%;
  display: inline-block;
  margin-left: 60px;
  margin-right: 60px;
  margin-top: 10px;
  margin-bottom: 10px;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

thead tr {
}

