<div class="header">
  <h1 class="display-4">Welcome @User!</h1>
  <p class="lead">Description...</p>

  <!--<div class="userList" *ngIf="users.length">
    <div class="user" *ngFor="let user of users">
      {{user.firstName}}
    </div>
  </div>-->

</div>


<!--<table *ngIf="users.length">
  <thead>
  <th>Task</th>
  <th>Start</th>
  <th>End</th>
  </thead>
  <tbody>
  <tr *ngFor="let user of users">
    <td>{{user.firstName}}</td>
    <td>{{user.lastName}}</td>
    <td>{{user.firstName}}</td>
  </tr>
</tbody>
</table>-->

<div class="tableContainer">
  <table>
  <thead>
  <tr>
    <th>Title</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <th>Task</th>
    <th>Start</th>
    <th>End</th>
  </tr>
  <tr>
    <td>Work</td>
    <td>08:00</td>
    <td>16:00</td>
  </tr>
  <tr>
    <td>Supermarket</td>
    <td>16:30</td>
    <td>17.30</td>
  </tr>
  <tr>
    <td>Afterwork</td>
    <td>20:00</td>
    <td>01:30</td>
  </tr>
  </tbody>
</table>

  <table>
    <thead>
    <tr>
      <th>Title</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <th>Task</th>
      <th>Start</th>
      <th>End</th>
    </tr>
    <tr>
      <td>Work</td>
      <td>08:00</td>
      <td>16:00</td>
    </tr>
    <tr>
      <td>Supermarket</td>
      <td>16:30</td>
      <td>17.30</td>
    </tr>
    <tr>
      <td>Afterwork</td>
      <td>20:00</td>
      <td>01:30</td>
    </tr>
    </tbody>
  </table>

  <table>
    <thead>
    <tr>
      <th>Title</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <th>Task</th>
      <th>Start</th>
      <th>End</th>
    </tr>
    <tr>
      <td>Work</td>
      <td>08:00</td>
      <td>16:00</td>
    </tr>
    <tr>
      <td>Supermarket</td>
      <td>16:30</td>
      <td>17.30</td>
    </tr>
    <tr>
      <td>Afterwork</td>
      <td>20:00</td>
      <td>01:30</td>
    </tr>
    </tbody>
  </table>

  <table>
    <thead>
    <tr>
      <th>Title</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <th>Task</th>
      <th>Start</th>
      <th>End</th>
    </tr>
    <tr>
      <td>Work</td>
      <td>08:00</td>
      <td>16:00</td>
    </tr>
    <tr>
      <td>Supermarket</td>
      <td>16:30</td>
      <td>17.30</td>
    </tr>
    <tr>
      <td>Afterwork</td>
      <td>20:00</td>
      <td>01:30</td>
    </tr>
    </tbody>
  </table>

  <table>
    <thead>
    <tr>
      <th>Title</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <th>Task</th>
      <th>Start</th>
      <th>End</th>
    </tr>
    <tr>
      <td>Work</td>
      <td>08:00</td>
      <td>16:00</td>
    </tr>
    <tr>
      <td>Supermarket</td>
      <td>16:30</td>
      <td>17.30</td>
    </tr>
    <tr>
      <td>Afterwork</td>
      <td>20:00</td>
      <td>01:30</td>
    </tr>
    </tbody>
  </table>

  <table>
    <thead>
    <tr>
      <th>Title</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <th>Task</th>
      <th>Start</th>
      <th>End</th>
    </tr>
    <tr>
      <td>Work</td>
      <td>08:00</td>
      <td>16:00</td>
    </tr>
    <tr>
      <td>Supermarket</td>
      <td>16:30</td>
      <td>17.30</td>
    </tr>
    <tr>
      <td>Afterwork</td>
      <td>20:00</td>
      <td>01:30</td>
    </tr>
    </tbody>
  </table>

  <table>
    <thead>
    <tr>
      <th>Title</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <th>Task</th>
      <th>Start</th>
      <th>End</th>
    </tr>
    <tr>
      <td>Work</td>
      <td>08:00</td>
      <td>16:00</td>
    </tr>
    <tr>
      <td>Supermarket</td>
      <td>16:30</td>
      <td>17.30</td>
    </tr>
    <tr>
      <td>Afterwork</td>
      <td>20:00</td>
      <td>01:30</td>
    </tr>
    </tbody>
  </table>

  <table>
    <thead>
    <tr>
      <th>Title</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <th>Task</th>
      <th>Start</th>
      <th>End</th>
    </tr>
    <tr>
      <td>Work</td>
      <td>08:00</td>
      <td>16:00</td>
    </tr>
    <tr>
      <td>Supermarket</td>
      <td>16:30</td>
      <td>17.30</td>
    </tr>
    <tr>
      <td>Afterwork</td>
      <td>20:00</td>
      <td>01:30</td>
    </tr>
    </tbody>
  </table>
</div>
