.container {
  margin-top: 60px;
}

.odd {
  float: left;
}

.even {
  float: right;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 15%;
  display: inline-block;
  margin-left: 60px;
  margin-right: 60px;
  margin-top: 10px;
  margin-bottom: 10px;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

thead tr {
}


