<div class="header">
  <h1 class="display-4">Welcome Matilda!</h1>
  <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
</div>

<style>

  .header {
    margin-bottom: 50px;
  }
  .tableContainer {
    margin: auto;
    width: 50%;
  }

  table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 15%;
    display: inline-block;
    margin-left: 60px;
    margin-right: 60px;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }

  tr:nth-child(even) {
    background-color: #dddddd;
  }

</style>

<div class="tableContainer">
<table title="Category">
  <tr>
    <th>Task</th>
    <th>Start</th>
    <th>End</th>
  </tr>
  <tr>
    <td>Work</td>
    <td>08:00</td>
    <td>16:00</td>
  </tr>
  <tr>
    <td>Supermarket</td>
    <td>16:30</td>
    <td>17.30</td>
  </tr>
  <tr>
    <td>Afterwork</td>
    <td>20:00</td>
    <td>01:30</td>
  </tr>
</table>

<table title="Category">
  <tr>
    <th>Task</th>
    <th>Start</th>
    <th>End</th>
  </tr>
  <tr>
    <td>Work</td>
    <td>08:00</td>
    <td>16:00</td>
  </tr>
  <tr>
    <td>Supermarket</td>
    <td>16:30</td>
    <td>17.30</td>
  </tr>
  <tr>
    <td>Afterwork</td>
    <td>20:00</td>
    <td>01:30</td>
  </tr>
</table>

<table title="Category">
  <tr>
    <th>Task</th>
    <th>Start</th>
    <th>End</th>
  </tr>
  <tr>
    <td>Work</td>
    <td>08:00</td>
    <td>16:00</td>
  </tr>
  <tr>
    <td>Supermarket</td>
    <td>16:30</td>
    <td>17.30</td>
  </tr>
  <tr>
    <td>Afterwork</td>
    <td>20:00</td>
    <td>01:30</td>
  </tr>
</table>

  <table title="Category">
    <tr>
      <th>Task</th>
      <th>Start</th>
      <th>End</th>
    </tr>
    <tr>
      <td>Work</td>
      <td>08:00</td>
      <td>16:00</td>
    </tr>
    <tr>
      <td>Supermarket</td>
      <td>16:30</td>
      <td>17.30</td>
    </tr>
    <tr>
      <td>Afterwork</td>
      <td>20:00</td>
      <td>01:30</td>
    </tr>
  </table>

  <table title="Category">
    <tr>
      <th>Task</th>
      <th>Start</th>
      <th>End</th>
    </tr>
    <tr>
      <td>Work</td>
      <td>08:00</td>
      <td>16:00</td>
    </tr>
    <tr>
      <td>Supermarket</td>
      <td>16:30</td>
      <td>17.30</td>
    </tr>
    <tr>
      <td>Afterwork</td>
      <td>20:00</td>
      <td>01:30</td>
    </tr>
  </table>
</div>


