<div class="container col-lg-6 col-md-8 col-sm-12">
  <h1>Create task</h1>
  <p class="text-secondary lead small">Here you can create new tasks. You can also create new categories or delete ones already created.
                                        Note that if you delete a category that is already connected to tasks, those tasks will automatically
                                        be reassigned to the 'Default' category.</p>
  <hr>
  <form #taskForm="ngForm" (ngSubmit)="onSubmit(taskForm.value)">
    <div class="form-group bg-secondary text-light border border-dark">
      <label for="inputTaskTitle" class="mb-0 ml-2">Title:</label>
      <input type="text" class="form-control" id="inputTaskTitle" name="title" placeholder="Enter task title" ngModel>
    </div>
    <div class="alert alert-danger" [hidden]="titleInputFailAlertIsHidden">
      <strong>Required field!</strong> You have to fill in a title for your new task.
    </div>

    <div class="form-group bg-secondary text-light border border-dark">
      <label for="inputDescription" class="mb-0 ml-2">Description:</label>
      <textarea class="form-control" rows="5" id="inputDescription" name="description" placeholder="Enter description of the task" ngModel></textarea>
    </div>

    <div class="btn-group btn-group-toggle mt-2" data-toggle="buttons">
      <label class="btn btn-sm btn-info active border border-dark" (click)="showNoDateOption()">
        <input type="radio" name="options" id="option1" autocomplete="off" checked [(ngModel)]="options"> No specific date
      </label>
      <label class="btn btn-sm btn-info border border-dark" (click)="showFirstDateOption()">
        <input type="radio" name="options" id="option2" autocomplete="off" [(ngModel)]="options"> Set start date
      </label>
      <label class="btn btn-sm btn-info border border-dark" (click)="showSecondDateOption()">
        <input type="radio" name="options" id="option3" autocomplete="off" [(ngModel)]="options"> Set end date
      </label>
      <label class="btn btn-sm btn-info border border-dark" (click)="showTwoDatesOption()">
        <input type="radio" name="options" id="option4" autocomplete="off" [(ngModel)]="options"> Set start & end date
      </label>
    </div>

    <div class="mt-3 bg-info text-light text-center border border-dark" [hidden]="firstDateFieldIsHidden">
      <label class="form-check-label" for="inputStartDate">
        Start date & time:
      </label>
      <div class="input-group" id="inputStartDate">
        <input type="date" class="form-control" name="startDate"  max="2999-12-31" placeholder="Starting date" ngModel>
        <input type="time" class="form-control" name="startTime" placeholder="Starting time" ngModel>
      </div>
    </div>

    <div class="mt-3 bg-info text-light text-center border border-dark" [hidden]="secondDateFieldIsHidden">
      <label class="form-check-label" for="inputEndDate">
        End date & time:
      </label>
      <div class="input-group" id="inputEndDate">
        <input type="date" class="form-control" name="endDate"  max="2999-12-31" placeholder="Ending date" ngModel>
        <input type="time" class="form-control" name="endTime" placeholder="Ending time" ngModel>
      </div>
    </div>

    <label class="mt-3" for="inputCategoryDiv">Choose category:</label>
    <div class="input-group mb-4" id="inputCategoryDiv">
      <select class="form-control col-lg-6" id="inputCategory" name ="category" [(ngModel)]="selectedCategory">
        <option *ngFor="let category of userCategories" value="{{category.title}}" id="{{category.title}}">{{category.title}}</option>
      </select>
      <button class="btn btn-sm btn-outline-danger ml-1" type="button" (click)="deleteCategory()">Delete this category</button>
      <button (click)="toggleShowNewCategory()" class="btn btn-outline-success btn-sm ml-1" type="button">Add new category</button>
    </div>
    <div class="alert alert-danger" [hidden]="categoryInputFailAlertIsHidden">
      <strong>Required field!</strong> You have to choose a category for your task.
    </div>
    <div class="alert alert-success" [hidden]="categoryDeleteSuccessIsHidden">
      <strong>Category deleted!</strong> If some task were using the category, those tasks are now assigned to Standard category.
    </div>
    <div class="alert alert-danger" [hidden]="categoryDeleteFailIsHidden">
      <strong>Cannot delete!</strong> This is a standard fallback category and cannot be deleted.
    </div>

    <div id="newCategoryDiv" [hidden]="newCategoryIsHidden">
      <div class="input-group mb-4">
        <input type="text" class="form-control" placeholder="New category title" #newCategoryInput>
        <button (click)="addNewCategoryToSelection(newCategoryInput.value)" class="btn btn-outline-success btn-sm ml-1" type="button">Save new category</button>
      </div>
    </div>
    <hr>
    <button [disabled]="!taskForm.dirty" type="submit" class="btn btn-lg btn-primary">Create task</button>
    <div class="alert alert-success mt-2" [hidden]="taskSavedAlertIsHidden">
      <strong>Task saved!</strong> You can now see it amongst your other tasks on your Home page.
    </div>
  </form>
</div>
