<div class="col-lg-6">
  <form #taskForm="ngForm" (ngSubmit)="onSubmit(taskForm.value)">
    <div class="form-group">
      <label for="inputTaskTitle">Title:</label>
      <input type="text" class="form-control" id="inputTaskTitle" name="title" placeholder="Enter task title" ngModel>
    </div>
    <div class="form-group">
      <label for="inputDescription">Description:</label>
      <textarea class="form-control" rows="5" id="inputDescription" name="description" placeholder="Enter description of the task" ngModel></textarea>
    </div>

    <div class="btn-group btn-group-toggle" data-toggle="buttons">
      <label class="btn btn-sm btn-secondary active" (click)="showNoDateOption()">
        <input type="radio" name="options" id="option1" autocomplete="off" checked [(ngModel)]="options"> No specific date
      </label>
      <label class="btn btn-sm btn-secondary" (click)="showOneDateOption()">
        <input type="radio" name="options" id="option2" [(ngModel)]="options"> Start date
      </label>
      <label class="btn btn-sm btn-secondary" (click)="showTwoDatesOption()">
        <input type="radio" name="options" id="option3" autocomplete="off" [(ngModel)]="options"> Start & end datee
      </label>
    </div>

    <div class="mt-3" [hidden]="firstDateFieldIsHidden">
      <label class="form-check-label" for="inputStartDate">
        Start date
      </label>
      <div class="input-group" id="inputStartDate">
        <input type="date" class="form-control" name="startDate" placeholder="Starting date" ngModel>
        <input type="time" class="form-control" name="startTime" placeholder="Starting time" ngModel>
      </div>
    </div>

    <div class="mt-3" [hidden]="secondDateFieldIsHidden">
      <label class="form-check-label" for="inputEndDate">
        End date
      </label>
      <div class="input-group" id="inputEndDate">
        <input type="date" class="form-control" name="endDate" placeholder="Ending date" ngModel>
        <input type="time" class="form-control" name="endTime" placeholder="Ending time" ngModel>
      </div>
    </div>

    <hr>
    <label for="inputCategoryDiv">Choose category:</label>
    <div class="input-group mb-4" id="inputCategoryDiv">
      <select class="form-control col-lg-6" id="inputCategory" name ="category" [(ngModel)]="selectedCategory">
        <option *ngFor="let category of userCategories" value="{{category.title}}">{{category.title}}</option>
      </select>
      <button class="btn btn-sm btn-outline-danger ml-1" type="button">Delete this category</button>
      <button (click)="toggleNewCategory()" class="btn btn-outline-success btn-sm ml-1" type="button">Add new category</button>
    </div>

    <div id="newCategoryDiv" [hidden]="newCategoryIsHidden">
      <div class="input-group mb-4">
        <input type="text" class="form-control" placeholder="New category title" #newCategoryInput>
        <button (click)="addNewCategoryToSelection(newCategoryInput.value)" class="btn btn-outline-success btn-sm ml-1" type="button">Save new category</button>
      </div>
    </div>
    <hr>
    <button type="submit" class="btn btn-lg btn-primary">Create task</button>
  </form>
</div>
