<div class="container">
  <div class="row">

      <div class="panel panel-info">
        <div class="panel-heading">
          <h3 class="panel-title">Sheena Shrestha</h3>
        </div>
        <div class="panel-body">
          <div class="row">
            <div class="col-lg-6"> <img src="/assets/profilePic.jpg"> </div>

              <table class="table table-user-information col-lg-6">
                <tbody>
                <tr>
                  <td>Department:</td>
                  <td>Programming</td>
                </tr>
                <tr>
                  <td>Hire date:</td>
                  <td>06/23/2013</td>
                </tr>
                <tr>
                  <td>Date of Birth</td>
                  <td>01/24/1988</td>
                </tr>

                <tr>
                  <td>Gender</td>
                  <td>Female</td>
                </tr>
                <tr>
                  <td>Home Address</td>
                  <td>Kathmandu,Nepal</td>
                </tr>
                <tr>
                  <td>Email</td>
                  <td><a href="mailto:info@support.com">info@support.com</a></td>
                </tr>

                </tbody>
              </table>

            </div>
          </div>

        </div>
        <div class="panel-footer">

        </div>

  </div>
</div>
